.video {
  width: 100%;
  max-height: 90vh;
  border-radius: 25px;
}
.video.video[postal] {
  object-fit: fill;
}
.logo {
  top: 25px;
  left: 50px;
}
.container {
  max-height: 90vh;
}
.hr {
  position: relative;
  height: 1px;
  background: #a7a7a7;
}
.hr::before {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -1px;
  left: 27vw;
  width: 20%;
  background-color: #976d00 !important;
}
.videoDescription {
  width: 100%;
  min-height: 90vh;
  max-height: 90vh;
  border-radius: 5px;
}
