.title {
  position: relative;
}
.title::after {
  position: absolute;
  content: "";
  height: 2px;
  left: 13% !important;
  width: 5% !important;
  background: #a37500;
  bottom: 5px;
}
@media screen and (max-width: 880px) {
  .title::after {
    left: 23% !important;
    width: 15%;
  }
}

@media screen and (max-width: 480px) {
  .title::after {
    left: 43% !important;
    width: 15% !important;
  }
}
